<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kingdom Come: Deliverance 2</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  <header class="header">
    <div class="container header__container">
      <div class="header__logo">
        <a href="#" class="header__logo-link"><img src="images/KCD2_Logo.webp" alt="Logo"></a>
      </div>
      <nav class="header__navigation">
        <div class="header__navigation-menu">
          <ul class="header__navigation-list">
            <li class="header__navigation-item">
              <a class="header__navigation-link" href="#">Home</a>
            </li>
            <li class="header__navigation-item">
              <a class="header__navigation-link" href="#">Game info</a>
            </li>
            <li class="header__navigation-item">
              <a class="header__navigation-link" href="#">News</a>
            </li>
            <li class="header__navigation-item">
              <a class="header__navigation-link" href="#">Media</a>
            </li>
            <li class="header__navigation-item">
              <a class="header__navigation-link" href="#">KCD I</a>
            </li>
          </ul>
        </div>
        <div class="header__offer">
          <button class="header__offer-button">
            <p class="header__offer-button--text">Buy now</p>
          </button>
        </div>
        <div class="language-dropdown">
          <button class="language-dropdown__toggle">EN</button>
          <ul class="language-dropdown__list">
            <li><a href="#" class="language-dropdown__link">PL</a></li>
            <li><a href="#" class="language-dropdown__link">DE</a></li>
            <li><a href="#" class="language-dropdown__link">ES</a></li>
            <li><a href="#" class="language-dropdown__link">FR</a></li>
            <li><a href="#" class="language-dropdown__link">IT</a></li>
            <li><a href="#" class="language-dropdown__link">RU</a></li>
            <li><a href="#" class="language-dropdown__link">ZH</a></li>
          </ul>
        </div>
        <button class="burger-menu" aria-label="Toggle menu" aria-expanded="false">
          <span class="burger-menu__line"></span>
          <span class="burger-menu__line"></span>
          <span class="burger-menu__line"></span>
        </button>
      </nav>
    </div>

    <div class="mobile-menu">
      <div class="mobile-menu__header">
        <a href="#" class="mobile-menu__logo">
          <img src="images/KCD2_Logo.webp" alt="Logo">
        </a>
      </div>
      <nav class="mobile-menu__nav">
        <ul class="mobile-menu__list">
          <li><a href="#">Home</a></li>
          <li><a href="#">Game info</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">KCD I</a></li>
        </ul>
      </nav>
    </div>
  </header>